<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiwinn.album.mapper.CmdExtractMapper">

    <select id="selectSameCmdExtractByclusterId" parameterType="java.lang.String" resultType="com.aiwinn.album.entity.CmdExtract">
        select * from t_cmd_extract where cmd_id = #{cmdId} and cluster_id = #{clusterId}
    </select>

</mapper>