<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiwinn.album.mapper.CmdFaceMapper">

    <update id="createTableIfNot" parameterType="java.lang.String">
	    CREATE TABLE IF NOT EXISTS ${tab} like t_cmd_face;
    </update>

    <insert id="insertSelective" parameterType="com.aiwinn.album.entity.CmdFace" >
        insert into ${tab}
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="record.id != null" >
                id,
            </if>
            <if test="record.clusterId != null" >
                cluster_id,
            </if>
            <if test="record.pictureMd5 != null" >
                picture_md5,
            </if>
            <if test="record.facePosition != null" >
                face_position,
            </if>
            <if test="record.facePath != null" >
                face_path,
            </if>
            <if test="record.createTime != null" >
                create_time,
            </if>
            <if test="record.searchTime != null" >
                search_time,
            </if>
            <if test="record.updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="record.id != null" >
                #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.clusterId != null" >
                #{record.clusterId,jdbcType=VARCHAR},
            </if>
            <if test="record.pictureMd5 != null" >
                #{record.pictureMd5,jdbcType=VARCHAR},
            </if>
            <if test="record.facePosition != null" >
                #{record.facePosition,jdbcType=VARCHAR},
            </if>
            <if test="record.facePath != null" >
                #{record.facePath,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.searchTime != null" >
                #{record.searchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByClusterId" resultType="com.aiwinn.album.entity.CmdFace">
        select * from ${tab} where cluster_id = #{clusterId,jdbcType=VARCHAR}
    </select>

    <select id="selectConutByClusterIdAndMd5AndPosition" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from ${tab} where cluster_id = #{clusterId} and picture_md5 = #{pictureMd5} and face_position = #{facePosition}
    </select>

    <select id="selectByClusterIdAndMd5AndPosition" parameterType="java.lang.String" resultType="com.aiwinn.album.entity.CmdFace">
	    select * from ${tab} where cluster_id = #{clusterId} and picture_md5 = #{pictureMd5} and face_position = #{facePosition}
     	order by id desc limit 1
    </select>

    <update id="updateByClusterIdAndMd5AndPositionSelective" parameterType="com.aiwinn.album.entity.CmdFace">
        update ${tab}
        <set>
            <if test="record.facePath != null" >
                face_path = #{record.facePath,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.searchTime != null" >
                search_time = #{record.searchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where cluster_id = #{record.clusterId,jdbcType=VARCHAR} and picture_md5 = #{record.pictureMd5,jdbcType=VARCHAR}
        and face_position = #{record.facePosition,jdbcType=VARCHAR}
    </update>

</mapper>