<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiwinn.album.mapper.CmdInfoMqMapper">

    <select id="selectByCmdId" parameterType="java.lang.String" resultType="com.aiwinn.album.entity.CmdInfoMq">
        select * from t_cmd_info_mq where cmd_id = #{cmd_id,jdbcType=VARCHAR} limit 1
    </select>

</mapper>