<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiwinn.album.mapper.CmdThingPictureMapper">

    <update id="createTableIfNot" parameterType="java.lang.String">
	    CREATE TABLE IF NOT EXISTS ${tab} like t_cmd_thing_picture;
    </update>

    <insert id="insertSelective" parameterType="com.aiwinn.album.entity.CmdThingPicture" >
        insert into ${tab}
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="record.id != null" >
                id,
            </if>
            <if test="record.clusterId != null" >
                cluster_id,
            </if>
            <if test="record.picturePath != null" >
                picture_path,
            </if>
            <if test="record.pictureId != null" >
                picture_id,
            </if>
            <if test="record.pictureMd5 != null" >
                picture_md5,
            </if>
            <if test="record.featurePath != null" >
                feature_path,
            </if>
            <if test="record.createTime != null" >
                create_time,
            </if>
            <if test="record.searchTime != null" >
                search_time,
            </if>
            <if test="record.facePositions != null" >
                face_positions,
            </if>
            <if test="record.status != null" >
                status,
            </if>
            <if test="record.errors != null" >
                errors,
            </if>
            <if test="record.width != null" >
                width,
            </if>
            <if test="record.height != null" >
                height,
            </if>
            <if test="record.version != null" >
                version,
            </if>
            <if test="record.updateTime != null">
                update_time,
            </if>
            <if test="record.imageTime != null">
                image_time,
            </if>
            <if test="record.extra != null">
                extra,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="record.id != null" >
                #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.clusterId != null" >
                #{record.clusterId,jdbcType=VARCHAR},
            </if>
            <if test="record.picturePath != null" >
                #{record.picturePath,jdbcType=VARCHAR},
            </if>
            <if test="record.pictureId != null" >
                #{record.pictureId,jdbcType=VARCHAR},
            </if>
            <if test="record.pictureMd5 != null" >
                #{record.pictureMd5,jdbcType=VARCHAR},
            </if>
            <if test="record.featurePath != null" >
                #{record.featurePath,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.searchTime != null" >
                #{record.searchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.facePositions != null" >
                #{record.facePositions,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.errors != null" >
                #{record.errors,jdbcType=VARCHAR},
            </if>
            <if test="record.width != null" >
                #{record.width,jdbcType=INTEGER},
            </if>
            <if test="record.height != null" >
                #{record.height,jdbcType=INTEGER},
            </if>
            <if test="record.version != null" >
                #{record.version,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.imageTime != null">
                #{record.imageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.extra != null">
                #{record.extra,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByClusterIdAndMd5Selective" parameterType="com.aiwinn.album.entity.CmdThingPicture">
        update ${tab}
        <set>
            <if test="record.featurePath != null">
                feature_path = #{record.featurePath,jdbcType=VARCHAR},
            </if>
            <if test="record.searchTime != null">
                search_time = #{record.searchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.facePositions != null">
                face_positions = #{record.facePositions,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.errors != null">
                errors = #{record.errors,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.imageTime != null">
                image_time = #{record.imageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.extra != null">
                extra = #{record.extra,jdbcType=VARCHAR},
            </if>
        </set>
        where cluster_id = #{record.clusterId,jdbcType=VARCHAR} and picture_md5 = #{record.pictureMd5,jdbcType=VARCHAR}
    </update>

    <select id="selectByClusterIdAndMd5" resultType="com.aiwinn.album.entity.CmdThingPicture">
        select * from ${tab} where cluster_id = #{clusterId} and picture_md5 = #{pictureMd5} order by id desc limit 1
    </select>

    <select id="selectByClusterId" resultType="com.aiwinn.album.entity.CmdThingPicture">
        select * from ${tab} where cluster_id = #{clusterId,jdbcType=VARCHAR}
    </select>

    <select id="selectIdByClusterId" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from ${tab} where cluster_id = #{clusterId,jdbcType=VARCHAR} limit 1
    </select>

</mapper>