<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiwinn.album.mapper.CmdVideoResultMapper">

    <select id="selectByResultId" parameterType="String" resultType="com.aiwinn.album.entity.CmdVideoResult">
        select * from t_cmd_video_result where result_id = #{resultId} limit 1
    </select>

    <update id="updateGetTime" parameterType="com.aiwinn.album.entity.CmdVideoResult">
        update t_cmd_video_result set get_time = #{getTime,jdbcType=TIMESTAMP} where result_id = #{resultId}
    </update>

</mapper>